{% extends 'base.html.twig' %}

{% block body %}
    {% set activeTab = 'orders' %}
    {{ parent() }}

    <div clas="row">
        <div class="col-md-12">
            <table id="orders-table" class="table table-hover">
                <thead>
                    <th>Order date</th>
                    <th>Status</th>
                    <th>Merchant order</th>
                    <th>Shipping method</th>
                    <th>Tracking number</th>
                    <th>QTY.</th>
                    <th>Recipient</th>
                    <th>Address</th>
                    <th>City</th>
                    <th>State</th>
                    <th>Zip code</th>
                    <th>Delivery date</th>
                    <th>Details</th>
                </thead>
                <tbody>
                    {% for order in orders %}
                        <tr>
                            <td>{{ order.orderPlacedDate }}</td>
                            <td>{{ order.status }}</td>
                            <td>{{ order.referenceOrderId }}</td>
                            <td>{{ order.requestShippingMethod }}</td>
                            <td>{{ order.shipmentTrackingNumber }}</td>
                            <td>{{ order.itemsCount }}</td>
                            <td>{{ order.recipientName }}</td>
                            <td>{{ order.addressLine }}</td>
                            <td>{{ order.getAddressCity() }}</td>
                            <td>{{ order.getAddressState() }}</td>
                            <td>{{ order.getAddressZipCode() }}</td>
                            <td>{{ order.getExpectedDeliveryDate('DATE') }}</td>
                            <td align="center"><a href="{{ path('order', { 'id': order.id }) }}"><span class="glyphicon glyphicon-menu-hamburger" aria-hidden="true"></span></a></td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>

{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.12/css/dataTables.bootstrap.min.css">
{% endblock %}

{% block javascripts %}
    <script type="text/javascript" src="{{ asset('js/orders.js') }}"></script>
    <script type="text/javascript" src="//cdn.datatables.net/1.10.12/js/jquery.dataTables.min.js"></script>
    <script type="text/javascript" src="https://cdn.datatables.net/1.10.12/js/dataTables.bootstrap.min.js"></script>
{% endblock %}
