{% extends 'base.html.twig' %}

{% block body %}
    {% set activeTab = 'orders' %}
    {{ parent() }}

    {% form_theme form 'Form/bootstrap_3_horizontal_layout.html.twig' %}

    <div clas="row">
        <div class="col-md-12">
            <div class="order-data">
                <!-- Default panel contents -->
                <div class="order-title">
                    <span>Order: {{ order.referenceOrderId }}</span>
                </div>
                <!-- Table -->
                <table class="table">
                    <thead class="center">
                        <th>Status</th>
                        <th>Shipping method</th>
                        <th>Tracking number</th>
                        <th>Total</th>
                        <th>Recipient</th>
                        <th>Address</th>
                        <th>City</th>
                        <th>State</th>
                        <th>Zip code</th>
                        <th>Phone</th>
                    </thead>
                    <tbody>
                        <tr>
                            <td>{{ order.getStatus() }}</td>
                            <td>{{ order.getRequestShippingMethod() }}</td>
                            <td>{{ order.getShipmentTrackingNumber() }}</td>
                            <td>${{ order.basePrice }}</td>
                            <td>{{ order.getRecipientName() }}</td>
                            <td>{{ order.getAddressLine() }}</td>
                            <td>{{ order.getAddressCity() }}</td>
                            <td>{{ order.getAddressState() }}</td>
                            <td>{{ order.getAddressZipCode() }}</td>
                            <td>{{ order.getRecipientPhoneNumber() }}</td>
                        </tr>
                    </tbody>
                </table>
            </div>

            <div class="order-items panel panel-default">
                <!-- Default panel contents -->
                <div class="panel-heading">Items:</div>
                <!-- Table -->
                <table class="table table-bordered table-hover">
                    <thead class="center">
                        <th>Title</th>
                        <th>Color</th>
                        <th>Color code</th>
                        <th>UPC</th>
                        <th>Price</th>
                        <th>Shipping cost</th>
                        <th>Quantity</th>
                        <th>Action</th>
                    </thead>
                    {% for item in items %}
                        <tr>
                            <td>{{ item.getTitle() }}</td>

                            {% if( item.hasRelatedInventoryItem() ) %}
                                <td>{{ inventoryItems[item.merchantSku].colorTitle }}</td>
                                <td>{{ inventoryItems[item.merchantSku].colorCode }}</td>
                                <td>{{ inventoryItems[item.merchantSku].upc }}</td>
                            {% else %}
                                <td><font color="#A4A4A4">Not found in inventory</font></td>
                                <td><font color="#A4A4A4">Not found in inventory</font></td>
                                <td><font color="#A4A4A4">Not found in inventory</font></td>
                            {% endif %}

                            <td>${{ item.getPrice() }}</td>
                            <td>{{ item.getShippingCost() }}</td>
                            <td align="center">
                                <select class="form-control error" id="select-quantity" data-item-id="{{ item.getId() }}" data-order-id="{{ order.getId() }}">
                                    {% for value in item.getSelectValues %}
                                        {% if(value == item.getSelectedValue()) %}
                                            <option selected>{{ value }}</option>
                                        {% else %}
                                            <option>{{ value }}</option>
                                        {% endif %}
                                    {% endfor %}
                                </select>
                            </td>

                            <td align="center"><button type="button" class="btn btn-default" id="button-save">Save</button></td>
                        </tr>
                    {% endfor %}
                </table>
            </div>

            <div class="btn-group pull-right">
                {% if(order.status == constant('AppBundle\\Entity\\OrderStatus::STATUS_CREATED')) %}
                    <button type="button" class="btn btn-info approve-order" data-status-id="{{ statuses[0].getId() }}" style="width: 170px">Accept order</button>
                {% elseif(order.status == constant('AppBundle\\Entity\\OrderStatus::STATUS_READY')) %}
                    <div class="btn-group" role="group" aria-label="...">
                        <button type="button" class="btn btn-info approve-order" data-status-id="{{ statuses[0].getId() }}" style="width: 170px">Accept order</button>
                        <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                            <span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu" role="menu">
                                <li id="ship-order"><a href="#">Ship Order</a></li>
                        </ul>
                    </div>
                {% else %}
                    {% if(order.getShipmentTrackingNumber() or order.status == constant('AppBundle\\Entity\\OrderStatus::STATUS_IN_PROGRESS') or order.status == constant('AppBundle\\Entity\\OrderStatus::STATUS_COMPLETE')) %}
                        <button type="button" class="btn btn-default disabled" style="width: 170px" id="ship-order">Ship Order</button>
                    {% else %}
                        <button type="button" class="btn btn-default" style="width: 170px" id="ship-order">Ship Order</button>
                    {% endif %}
                {% endif %}
                <button type="button" class="btn btn-warning" style="width: 170px" id="cancel-order">Cancel Order</button>
            </div>
        </div>

        <div class="col-md-7" style="display: none;" id="order-form">
            <div class="panel panel-default">
                <div class="panel-heading">Ship order form:</div>
                {{ form_start(form) }}
                {{ form_widget(form) }}
                {{ form_end(form) }}
            </div>
        </div>
    </div>

{% endblock %}

{% block stylesheets %}

{% endblock %}

{% block javascripts %}
    <script type="text/javascript" src="{{ asset('js/order.js') }}"></script>
{% endblock %}
