{% extends 'base.html.twig' %}

{% block body %}

    <div clas="row">
        <div class="col-md-12">
                <table id="inventory" class="table table-striped table-bordered" cellspacing="0" width="100%">
                    <thead>
                        <th><a>Id</a></th>
                        <th><a>Title</a></th>
                        <th><a>Status</a></th>
                        <th><a>Brand</a></th>
                        <th><a>Provider</a></th>
                        <th><a>Price</a></th>
                        <th><a>Stock Count</a></th>
                        <th><a>UPC</a></th>
                        <th><a>Created At</a></th>
                    </thead>
                    <tbody>
                        {% for item in inventory %}
                            <tr>
                                    <td>{{ item.getId() }}</td>
                                    <td>{{ item.getTitle() }}</td>
                                    <td>{{ item.getStatus() }} {% if item.getSubStatus() %}: {{ item.getSubStatus() }} {% endif %}</td>
                                    <td>{{ item.getBrandName() }}</td>
                                    <td>{{ item.getProviderName() }}</td>
                                    <td>${{ item.getPrice() }}</td>
                                    <td>{{ item.getStockCount() }}</td>
                                    <td>{{ item.getUpc() }}</td>
                                    <td>{{ item.getCreatedDate() }}</td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
        </div>
    </div>

{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.12/css/dataTables.bootstrap.min.css">
{% endblock %}

{% block javascripts %}
    <script type="text/javascript" src="{{ asset('js/inventory.js') }}"></script>
    <script type="text/javascript" src="//cdn.datatables.net/1.10.12/js/jquery.dataTables.min.js"></script>
    <script type="text/javascript" src="https://cdn.datatables.net/1.10.12/js/dataTables.bootstrap.min.js"></script>
{% endblock %}

