{% extends 'base.html.twig' %}

{% block body %}
	{% set activeTab = 'reports' %}
	{{ parent() }}

	<div class="container-fluid"><div class="row">
		<div class="col-md-12">
			<table id="afs-report-table"  class="table inventory-type-table display">
				<thead>
					<th>Provider</th>
					<th>Brand</th>
					<th>Total</th>
					<th>Instock</th>
					<th>Outstock</th>
					<th>Under Jet Review</th>
					<th>Available for Purchase</th>
					<th>Excluded</th>
					<th>Missing Data</th>
				</thead>
				{% for report in reports %}
					<tr>
						<td>{{ report.getProviderTitle() }}</td>
						<td>{{ report.getBrandTitle() }}</td>
						<td>{{ report.getTotalCount() }}</td>
						<td>{{ report.getInstockCount() }}</td>
						<td>{{ report.getOutstockCount() }}</td>
						<td>{{ report.getUnderJetReviewCount() }}</td>
						<td>{{ report.getAfsCount() }}</td>
						<td>{{ report.getExcludedCount() }}</td>
						<td>{{ report.getMissingDataCount() }}</td>
					</tr>
				{% endfor %}
			</table>
		</div>
	</div></div>

{% endblock %}

{% block stylesheets %}
	<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.12/css/dataTables.bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/fixedheader/3.1.2/css/fixedHeader.bootstrap.min.css">
{% endblock %}

{% block javascripts %}
	<script type="text/javascript" src="{{ asset('js/reportAfs.js') }}"></script>
	<script type="text/javascript" src="//cdn.datatables.net/1.10.12/js/jquery.dataTables.min.js"></script>
	<script type="text/javascript" src="https://cdn.datatables.net/1.10.12/js/dataTables.bootstrap.min.js"></script>
	<script type="text/javascript" src="https://cdn.datatables.net/fixedheader/3.1.2/js/dataTables.fixedHeader.min.js"></script>
{% endblock %}
